:root {
  /* Colors */
  --green-color: #97D700;
  --green-25-color: #E5F4BF;
  --blue-color: #009AD1;
  --blue-25-color: #C0E6F3;
  --yellow-color: #FFF105;
  --yellow-25-color: #FFFCBF;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --black-75-color: #404040;
  --black-25-color: #BFBFBF;
  --black-10-color: #E2E2E2;

  /* Spacings */
  --spacing-xxxs: 4px; 
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 60px;
  --spacing-4xl: 80px;
  --spacing-5xl: 128px;
}

@font-face {
  font-family: 'BentonSans';
  font-weight: 900;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Black.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 700;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Bold.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 500;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Medium.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 400;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Book.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 300;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Light.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 100;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Thin.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'BentonSans', sans-serif !important;
}

h1,
.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-text {
  font-size: 36px !important;
  line-height: 42px !important;
  letter-spacing: 0 !important;
}
h2,
.h2 {
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0 !important;
  
}
h3 {
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: 0 !important;
}
h4 {
  font-size: 18px !important;
  line-height: 20px !important;
  letter-spacing: 0 !important;
}

.content__intro {
  font-size: 22px !important;
  line-height: 32px !important;
  letter-spacing: 0 !important;
}

.content p {
  font-size: 18px !important;
  line-height: 27px !important;
  letter-spacing: 0 !important;
}

@media screen and (max-width: 820px) {
  h1,
  .topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-text {
    font-size: 24px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
  }
  h2,
  .h2 {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0 !important;
    
  }
  h3 {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.02px !important;
  }
  h4 {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.02px !important;
  }

  .content__intro {
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
  }
  
  .content p {
    font-size: 16px !important;
    line-height: 23px !important;
    letter-spacing: 0 !important;
  }
}

.topbar .navigation-actions_rightmost .right-links a {
  font-size: 10px !important;
}

.typography__category {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: var(--blue-color) !important;
  text-transform: capitalize !important;
}

body {
  background: #F4F4F4 !important;
}

.topbar .topbar__logo,
a.navigation-menu__logo {
  background-color: var(--black-color) !important;
}

.topbar * {
  color: var(--black-color) !important;
}

.topbar .wpml-ls-native {
  font-size: 10px !important;
  font-weight: bold !important;
}

.topbar .wrapper {
  padding-right: 0 !important;
}

.topbar,
.topbar .topbar__middle {
  background-color: var(--green-25-color) !important;
}

.list-item__headline {
  font-weight: 700 !important;
  color: var(--black-color) !important;
}

.list-item__headline a {
  color: var(--black-color) !important;
}

.topbar .category-pretext {
  display: none !important;
}

.topbar .topbar__bottom {
  background-color: var(--white-color) !important;
}

.topbar__bottom .expand-lists {
  height: 100% !important;
}

.topbar__bottom .category-link-middle ul.menu {
  justify-content: center !important;
  gap: var(--spacing-xl) !important;
}

.topbar__bottom .category-link-middle ul.menu li {
  margin-right: 0 !important;
  padding: var(--spacing-s) 0 !important;
}

.topbar__bottom .category-link-middle ul.menu li a {
  margin-right: 0 !important;
  padding: var(--spacing-s) 0 !important;
  font-weight: 400 !important;
}

.topbar__bottom .category-link-middle ul.menu li a:hover {
  margin-right: 0 !important;
  padding: var(--spacing-s) 0 !important;
  text-decoration: underline !important;
}

.topbar .wrapper {
  max-width: none !important;
  padding-left: 0 !important;
}

.topbar .topbar__bottom {
  border: none !important;
}

.topbar .top-area__links:first-child {
  margin-bottom: 0 !important;
  flex: 0 !important;
}

.topbar .top-area__links:first-child .topbar__logo {
  margin-right: var(--spacing-xxl) !important;
}

.topbar .top-area__links:nth-child(2) {
  flex: 1 !important;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle {
  text-align: left !important;
  max-width: none !important;
  margin-top: 0 !important;
  height: 100% !important;
  padding-top: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.mobile_logo .topbar__logo-middle-text,
.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-text {
    visibility: hidden !important;
    position: relative !important;
}

.mobile_logo .topbar__logo-middle-text::after,
.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-text::after {
    visibility: visible !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  content: 'Verkkolehti' !important;
}

.mobile_logo .topbar__logo-middle-text {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.mobile_logo .topbar__logo-middle-text::after {
  left: 86px !important;
  font-size: 16px !important;
}

.mobile_logo.topbar__logo-middle {
  padding-top: 0 !important;
}

.mobile_logo .topbar__logo-middle-subtitle,
.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-subtitle {
    visibility: hidden !important;
    position: relative !important;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-subtitle::after {
  visibility: visible !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  content: 'Trustworthy information on packaging recycling and producer responsibility' !important;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle:not([href*="lang=en"]) .topbar__logo-middle-subtitle::after {
    visibility: visible !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  content: 'Luotettavaa tietoa pakkauskierrätyksestä ja tuottajavastuusta' !important;
}

.topbar .top-area__links:nth-child(3) {
  padding-right: var(--spacing-s) !important;
}

.topbar .top-area__links {
  margin-bottom: 0 !important;
}

.topbar .topbar__search,
.mobile__search {
  border-radius: 0 !important;
  border: 1px solid var(--black-color) !important;
}

@media screen and (min-width: 1140px) {
  .rightnav-icon.rightnav-hidden {
    display: none !important;
  }
}

.widget-area_sidebar .h2 {
  background: none !important;
  color: var(--black-color) !important;
  text-transform: lowercase !important;
}

.widget-area_sidebar .h2::first-letter {
  text-transform: uppercase !important;
}

.button.rinkiin-readmore::first-letter {
  text-transform: uppercase !important;
}

.button.rinkiin-readmore span {
  color: var(--black-color) !important;
}

.widget-area_sidebar .h2 {
  font-weight:  900 !important;
  padding: 0 !important;
  margin-bottom: var(--spacing-m) !important;
}

.widget-area .widget_mostrecent_articles .typography__category {
  font-weight: bold !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: var(--blue-color) !important;
}

.widget-area .widget_mostrecent_articles .list-item__author,
.widget-area .widget_mostrecent_articles .typography__date {
  font-weight: 400 !important;
  font-size: 14px !important;
  text-transform: unset !important;
}

.widget-area .widget_mostrecent_articles .list-item__headline {
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: 0 !important;
}

.widget-area .widget_mostrecent_articles .list-item__image {
  overflow: hidden !important;
  border-radius: 50% !important;
  width: 69px !important;
  height: 69px !important;
  margin-right: var(--spacing-s) !important;
}

.widget-area .widget_mostrecent_articles .list-item__body {
  padding: 0 !important;
}

.widget-area .widget_mostrecent_articles .list-item {
  display: flex !important;
  border-bottom: #D5D5D5 solid 1px !important;
  padding-bottom: var(--spacing-s) !important;
  margin-bottom: var(--spacing-s) !important;
  background: transparent !important;
}

.button.rinkiin-readmore {
  padding: 0 !important;
  margin-top: var(--spacing-s) !important;
  text-transform: lowercase !important;
  font-size: 16px !important;
  background:none !important;
  font-weight: bold !important;
}

.button.rinkiin-readmore .arrow-right {
  display: none !important;
}

#sidebar .widget-area {
  display: flex !important;
  flex-direction: column !important;
}

#mostrecent_articles-2,
#mostpopular_articles-2 {
  order: -1 !important;
}

.list-item.list-item_thumbnail {
  background: transparent !important;
}

#mostpopular_articles-2 .list-item {
  border-bottom: #D5D5D5 solid 1px;
  padding-bottom: var(--spacing-s) !important;
  margin-bottom: var(--spacing-s) !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

#mostpopular_articles-2 .list-item__body {
  display: flex !important;
  flex-direction: column !important;
  padding: 0;
}

#mostpopular_articles-2 .list-item__body .meta-list {
  order: -1 !important;
}

#mostpopular_articles-2 .list-item__image {
  width: 100px !important;
}

.typography__date {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.typography__date::before {
  top: -2px !important;
}

.newsletter_box .megazine_newsletter_box__item {
  background: var(--green-25-color) !important;
  padding: var(--spacing-m) var(--spacing-s) !important;
}

.newsletter_box .megazine_newsletter_box__item * {
  color: var(--black-color) !important;
  text-align: left !important;
}

.newsletter_box .megazine_newsletter_box__item * {
  color: var(--black-color) !important;
}

.newsletter_box .megazine_newsletter_box__item .block-header {
font-size: 18px !important;
font-weight: 400 !important;
margin-bottom: 16px !important;
}

.newsletter_box .megazine_newsletter_box__item input {
  max-width: none !important;
  width: 100% !important;
  padding: 10px !important;
  border-radius: 4px !important;
}

#subscribePermission {
  width: unset !important;
}

.button.button-newsletter {
  border-radius: 4px !important;
  box-shadow: none !important;
  background: var(--green-color) !important;
  padding: var(--spacing-xxxs) var(--spacing-l) !important;
}

.button.button-newsletter input {
  font-size: 13.5px !important;
  font-weight: 700 !important;
  background: transparent !important;
  padding: 0 !important;
  text-transform: uppercase !important;

}

.megazine_newsletter_box__newsletter {
  padding: 0 !important;
}

section.widget.widget_faq .list-item {
  background: none !important;
  padding: 0 !important;
  border-bottom: #D5D5D5 solid 1px !important;
  padding-bottom: var(--spacing-s) !important;
  margin-bottom: var(--spacing-s) !important;
  background: transparent !important;
}

section.widget.widget_faq .list-item .meta-list {
  display: none !important;
}

.single .widget.quiz .bulb-right {
  background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/lightbulb-on-light.svg) !important;
  width: 29px !important;
}

.single .widget.quiz .quiz__header {
  display: flex !important;
  gap: 6px !important;
  margin-bottom: 6px !important;
}

.single .widget.quiz .quiz__content {
  color: var(--black-color) !important;
  font-size: 18px !important;
}

.single .widget.quiz,
div.cta__container {
  text-align: left !important;
  padding: var(--spacing-m) var(--spacing-s) !important;
  background: var(--blue-25-color);
}

.single .widget.quiz .button {
  border-radius: 4px !important;
  box-shadow: none !important;
  background: var(--blue-color) !important;
  color: var(--white-color) !important;
  font-weight: 500 !important;
  font-size: 13.5px !important;
  text-transform: uppercase !important;
}

div.cta__title {
  color: var(--black-color) !important;
  font-weight: 900  !important;
}

div.cta__container .button {
  border-radius: 4px !important;
  padding: var(--spacing-xs) var(--spacing-l) !important;
  box-shadow: none !important;
  font-size: 13.5px !important;
  font-weight: 500 !important;
  background: var(--blue-color) !important;
  color: var(--white-color) !important;
  text-transform: uppercase !important;
}

div.cta__container .button:hover {
  bottom: 0 !important;
}
.button.button2:hover {
  bottom: 0 !important;
}
.button:hover,
a:hover {
  filter: brightness(110%) !important;
}

.box-item__image+.box-item__body {
  margin-top: 0 !important;
  padding: var(--spacing-s) var(--spacing-xs) !important;
}

.box-item__image+.box-item__body .typography__date::before {
  top: -6px !important;
}

a.topbar__logo-middle .topbar__logo-middle-text {
  font-weight: 900 !important;
}

button.button.rinkiin_loadmore {
  color: var(--black-color) !important;
  background: var(--green-color) !important;
  font-weight: 500 !important;
  width: fit-content !important;
  margin: auto !important;
  border-radius: 4px !important;
  padding: var(--spacing-xs) var(--spacing-l) !important;
}

footer.footer {
  background: var(--black-10-color) !important;
}

footer.footer * {
  color: var(--black-color) !important;
}

footer.footer .footer__block:nth-child(2) .grid__item_1:last-child {
  order: -1 !important;
}

footer.footer .footer__block:nth-child(2) .grid__item_1 {
  width: auto !important;
}

footer.footer .footer__block:nth-child(2) .grid__item_1:first-child {
  display: none !important;
}

footer.footer .footer__block:nth-child(2) {
  justify-content: center !important;
  gap: 140px !important;
}

.footer .footer__logo-rinki {
      background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/layer-2.svg) !important;
    width: 78px !important;
    height: 105px !important;
}

@media screen and (max-width: 1140px) {
  #sidebar,
  #content {
    padding-top: 30px !important;
  }

  footer.footer .footer__block:nth-child(2) {
    gap: 40px !important;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1 {
    width: 100% !important;
    text-align: left;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1 * {
    text-align: left !important;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1:last-child {
    order: 0 !important;
  }
}

footer.footer .footer__block:nth-child(1) {
  display: none !important;
}

footer.footer .footer__block:nth-child(3) .footer__box * {
  font-weight: 400 !important;
}

section#cta-2.element-sticky, section#cta-2.element-abs {
  position: sticky !important;
  top: 15px !important;
}

#mostrecent_articles-2 .typography__meta_alt * {
  color: var(--black-color) !important;
}

.megazine_newsletter_box__newsletter .screen-reader-text {
  position: unset !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  clip: none !important;
  clip-path: none !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 900 !important;
  margin-top: 16px !important;
}

.megazine_newsletter_box__newsletter ::-webkit-input-placeholder {
  color: transparent !important;
}
.megazine_newsletter_box__newsletter :-moz-placeholder {
color: transparent !important;
}
.megazine_newsletter_box__newsletter ::-moz-placeholder { 
  color: transparent !important;
}
.megazine_newsletter_box__newsletter :-ms-input-placeholder {
  color: transparent !important;
}

.button.rinkiin-readmore {
  display: inline-block !important;
}

.button.rinkiin-readmore,
.widget_faq .list-item__headline {
  position: relative !important;
}

.button.rinkiin-readmore::after {
  position: absolute !important;
  right:-20px !important;
  top: 50% !important;
  display: block !important;
  content: '' !important;
  width: 7px !important;
  height: 12px !important;
  background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/angle-right-solid.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  transform: translateY(-50%) !important;
}

.widget_faq .list-item__headline::after {
  position: absolute !important;
  right:0 !important;
  top: 50% !important;
  display: block !important;
  content: '' !important;
  width: 7px !important;
  height: 12px !important;
  background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/angle-right-solid.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  transform: translateY(-50%) !important;
}

@media screen and (max-width: 1140px) {
  .topbar__logo.mobile_logo,
  .navigation-actions_mobile a.navigation-menu__logo {
    position: relative !important;
    width: 70px !important;
    height: 70px !important;
    background-size: 30px 45px !important; 
  }

  .topbar__logo-middle.mobile_logo {
    max-width: none !important;
    text-align: left !important;
    height: 70px !important;
  }
}

@media screen and (max-width: 959px) and (min-width: 567px) {
  #sidebar .widget-area {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 5% !important;
  }
  
  #sidebar .widget-area section {
    width: 45% !important;
  }
}

@media screen and (max-width: 567px) {
  #sidebar {
    padding-top: 0 !important;
  }

  .post.box-item {
    display: flex !important;
    background: transparent !important;
    border-bottom: #D5D5D5 solid 1px !important;
  }
  
  .post.box-item .box-item__body {
    padding-top: 0 !important;
  }
  
  .post.box-item .box-item__body .typography__meta {
    padding-top: 0 !important;
  }
  
  .first-item .post.box-item .box-item__body {
    padding-top: 16px !important;
  }
  
  .first-item .post.box-item {
    display: block !important;
    background: #fff !important;
    border-bottom: none !important;
  }

  .post.box-item .box-item__image {
    min-width: 77px !important;
  }

  .post.box-item .box-item__image .fluid-image {
    padding-top: 100% !important;
  }

  .first-item .post.box-item .box-item__image .fluid-image {
    padding-top: 52.5% !important;
  }
}

.footer__logo-rinki {
  float: none !important;
}

.topbar .navigation-actions_top,
.topbar .navigation-actions_top .navigation-actions_mobile:first-child {
  background-color: var(--green-25-color) !important;
  box-shadow: none !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__logo-middle {
  display: none !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body {
  padding: 60px 40px !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .arrow-right {
  display: none !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .rightnav-intext-links {
  display: none !important;
}

/* .topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .rightnav-intext-links, */
.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .category-link-middle {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .rightnav-intext-links li,
.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .menu-item {
  padding: 30px 0 !important;
}

.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .rightnav-intext-links li a,
.topbar .navigation-actions_top .navigation-actions_mobile .topbar__rightnav-body .menu-item a {
  font-size: 20px !important;
  line-height: 27px !important;
  font-weight: 700 !important;
}

.topbar .tilis_nav_icon-open {
  background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/bars-regular.svg) !important;
}

.topbar .tilis_nav_icon-close {
  background-image: url(https://verkkolehti.rinkiin.fi/wp-content/uploads/2022/03/xmark-regular.svg) !important;
}

.topbar .tilis_nav_icon {
  margin: 20px 0 !important;
  height: 25px !important;
}

.page .content,
.single .content {
  background: transparent !important;
}

.single .content__body,
.single .content__sidestory,
.single .content__react-share,
.single .widget-area_single,
.single .content__header {
  padding: 0 !important;
}

.single .content__share-links {
  position: static !important;
}

.single .content__share-links ul {
  display: flex !important;
  margin-bottom: 30px !important;
}

div.content__featured-image-caption {
  font-size: 14px !important;
  margin-bottom: 40px !important;
  padding: 0 !important;
}

.single div.cta__container {
  background-color: var(--green-25-color) !important;
}

.single div.cta__container .button {
  color: var(--black-color) !important;
  background-color: var(--green-color) !important;
  margin-bottom: 0 !important;
}

.single div.cta__container .cta__title {
  margin: 0 !important;
}

.content__body>p:not(.no-dropcap):first-of-type:first-letter {
  float: left !important;
  font-size: inherit !important;
  line-height: inherit !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
}

.widget_single_articles_readmore {
  margin-bottom: 0 !important;
  background-color: transparent !important; 
}

.widget_single_articles_readmore .grid {
  gap: 5% !important;
  background-color: transparent !important; 
}

.widget_single_articles_readmore .grid .grid__item_1 {
  width: 45% !important;
}

.widget_single_articles_readmore .post .awpo-lazy {
  opacity: 1 !important;
}

.widget_single_articles_readmore .post .box-item__body {
  position: static !important;
  background: var(--white-color) !important;
}

.widget_single_articles_readmore .post .box-item__body h3 {
  color: var(--black-color);
}

.widget_single_articles_readmore .post .box-item__body {
  position: static !important;
}

.widget_single_articles_readmore .post .box-item__image .fluid-image {
  padding-top: 52.5% !important;
}

@media screen and (max-width: 567px) {
  .widget_single_articles_readmore .post .box-item__image .fluid-image {
  padding-top: 100% !important;
}
.widget_single_articles_readmore .grid {
  gap: 0 !important;
}

.widget_single_articles_readmore .grid .grid__item_1 {
  width: 100% !important;
}

.widget_single_articles_readmore .grid .grid__item_1 .post .box-item__body {
  background: transparent !important;
}

.widget_single_articles_readmore .grid .grid__item_1 .post.box-item {
  padding-bottom: 16px !important;
  margin-bottom: 16px !important;
}
}

.widget_single_articles_readmore .block-header {
  padding: 0 !important;
  background: transparent !important;
  color: var(--black-color) !important;  
}

.widget_single_articles_readmore .block-header {
  text-transform: lowercase!important;
}

.widget_single_articles_readmore .block-header::first-letter {
  text-transform: uppercase!important;
}

.widget_single_articles_readmore article:nth-child(3),
.widget_single_articles_readmore article:nth-child(4)
 {
display: none !important;
}

.rns {
  display: none !important;
}

.single #content {
  margin-bottom: 0;
}
