:root {
  /* Colors */
  --green-color: #97D700;
  --green-25-color: #E5F4BF;
  --blue-color: #009AD1;
  --blue-25-color: #C0E6F3;
  --yellow-color: #FFF105;
  --yellow-25-color: #FFFCBF;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --black-75-color: #404040;
  --black-25-color: #BFBFBF;
  --black-10-color: #E2E2E2;

  /* Spacings */
  --spacing-xxxs: 4px; 
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 60px;
  --spacing-4xl: 80px;
  --spacing-5xl: 128px;
}

@font-face {
  font-family: 'BentonSans';
  font-weight: 900;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Black.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 700;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Bold.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 500;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Medium.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 400;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Book.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 300;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Light.otf') format('opentype');
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 100;
  src: url('https://public-1581674907527.s3.eu-west-1.amazonaws.com/BentonSans/BentonSans+Thin.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'BentonSans', sans-serif !important;
}

.typography__category {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: var(--blue-color) !important;
  text-transform: capitalize !important;
}

body {
  background: #F4F4F4;
}

.topbar .topbar__logo {
  background-color: var(--black-color);
}

.topbar * {
  color: var(--black-color) !important;
}

.topbar .wpml-ls-native {
  font-size: 10px;
  font-weight: bold;
}

.topbar .wrapper {
  padding-right: 0 !important;
}

.topbar,
.topbar .topbar__middle {
  background-color: var(--green-25-color);
}

.list-item__headline {
  font-size: 18px !important;
  font-weight: 700;
}

.topbar .category-pretext {
  display: none !important;
}

.topbar .topbar__bottom {
  background-color: var(--white-color);
}

.topbar__bottom .expand-lists {
  height: 100%;
}

.topbar__bottom .category-link-middle ul.menu {
  justify-content: center;
  gap: var(--spacing-xl);
}

.topbar__bottom .category-link-middle ul.menu li {
  margin-right: 0;
  padding: var(--spacing-s) 0;
}

.topbar__bottom .category-link-middle ul.menu li a {
  margin-right: 0;
  padding: var(--spacing-s) 0;
  font-weight: 400;
}

.topbar .wrapper {
  max-width: none;
  padding-left: 0;
}

.topbar .topbar__bottom {
  border: none;
}

.topbar .top-area__links:first-child {
  margin-bottom: 0;
  flex: 0;
}

.topbar .top-area__links:first-child .topbar__logo {
  margin-right: var(--spacing-xxl);
}

.topbar .top-area__links:nth-child(2) {
  flex: 1;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle {
  text-align: left;
  max-width: none;
  margin-top: 0;
  height: 100%;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-text {
  font-size: 36px;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle:not([href*="lang=en"]) .topbar__logo-middle-text {
	visibility: hidden;
	position: relative;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle:not([href*="lang=en"]) .topbar__logo-middle-text::after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
  content: 'Verkkolehti';
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle:not([href*="lang=en"]) .topbar__logo-middle-subtitle {
	visibility: hidden;
	position: relative;
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle .topbar__logo-middle-subtitle::after {
  visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
  content: 'Trustworthy information on packaging recycling and producer responsibility';
}

.topbar .top-area__links:nth-child(2) .topbar__logo-middle:not([href*="lang=en"]) .topbar__logo-middle-subtitle::after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
  content: 'Luotettavaa tietoa pakkauskierrätyksestä ja tuottajavastuusta';
}

.topbar .top-area__links:nth-child(3) {
  padding-right: var(--spacing-s);
}

.topbar .top-area__links {
  margin-bottom: 0;
}

.topbar .topbar__search {
  border-radius: 0;
  border: 1px solid var(--black-color);
}

@media screen and (min-width: 1140px) {
  .rightnav-icon.rightnav-hidden {
    display: none;
  }
}

.widget-area_sidebar .h2 {
  background: none;
  color: var(--black-color);
  text-transform: lowercase;
}

.widget-area_sidebar .h2::first-letter {
  text-transform: uppercase;
}

.widget-area_sidebar .h2 {
  font-size: 24px;
  font-weight:  900;
  padding: 0;
  margin-bottom: var(--spacing-m);
}

.widget-area .widget_mostrecent_articles .typography__category {
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--blue-color);
}

.widget-area .widget_mostrecent_articles .list-item__author,
.widget-area .widget_mostrecent_articles .typography__date {
  font-weight: 100;
  font-size: 14px;
  text-transform: unset;
}

.widget-area .widget_mostrecent_articles .list-item__headline {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

.widget-area .widget_mostrecent_articles .list-item__image {
  overflow: hidden;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  margin-right: var(--spacing-s);
}

.widget-area .widget_mostrecent_articles .list-item__body {
  padding: 0;
}

.widget-area .widget_mostrecent_articles .list-item {
  display: flex;
  border-bottom: #D5D5D5 solid 1px;
  padding-bottom: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  background: transparent;
}

.button.rinkiin-readmore {
  padding: 0;
  margin-top: var(--spacing-s);
  text-transform: lowercase;
  font-size: 16px;
  background:none;
  font-weight: bold;
}

.button.rinkiin-readmore .arrow-right {
  display: none !important;
}

#sidebar .widget-area {
  display: flex;
  flex-direction: column;
}

#mostrecent_articles-2,
#mostpopular_articles-2 {
  order: -1;
}

.list-item.list-item_thumbnail {
  background: transparent;
}

#mostpopular_articles-2 .list-item {
  border-bottom: #D5D5D5 solid 1px;
  padding-bottom: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  display: flex;
  align-items: center;
  gap: 10px;
}

#mostpopular_articles-2 .list-item__body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#mostpopular_articles-2 .list-item__body .meta-list {
  order: -1;
}

#mostpopular_articles-2 .list-item__image {
  width: 100px;
}

.typography__date {
  font-size: 14px !important;
  font-weight: 400;
}

.typography__date::before {
  top: -2px;
}

.newsletter_box .megazine_newsletter_box__item {
  background: var(--green-25-color);
  padding: var(--spacing-m) var(--spacing-s);
}

.newsletter_box .megazine_newsletter_box__item * {
  color: var(--black-color);
  text-align: left;
}

.newsletter_box .megazine_newsletter_box__item * {
  color: var(--black-color);
}

.newsletter_box .megazine_newsletter_box__item .block-header {
font-size: 18px;
font-weight: 400;
}

.newsletter_box .megazine_newsletter_box__item input {
  max-width: none !important;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

#subscribePermission {
  width: unset !important;
}

.button.button-newsletter {
  border-radius: 4px;
  box-shadow: none;
  background: var(--green-color);
  padding: var(--spacing-xxxs) var(--spacing-s);
}

.button.button-newsletter input {
  font-size: 13.5px;
  font-weight: 500;
  background: transparent;
  padding: 0;
  text-transform: uppercase !important;

}

.megazine_newsletter_box__newsletter {
  padding: 0 !important;
}

section.widget.widget_faq .list-item {
  background: none !important;
  padding: 0;
  border-bottom: #D5D5D5 solid 1px;
  padding-bottom: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  background: transparent;
}

section.widget.widget_faq .list-item .meta-list {
  display: none;
}

div.cta__container {
  text-align: left;
  padding: var(--spacing-m) var(--spacing-s);
  background: var(--blue-25-color)
}

div.cta__title {
  color: var(--black-color) !important;
  font-weight: 900;
}

div.cta__container .button {
  border-radius: 4px;
  padding: var(--spacing-xs) var(--spacing-l);
  box-shadow: none;
  font-size: 13.5px;
  font-weight: 500;
  background: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase !important;
}

div.cta__container .button:hover {
  bottom: 0;
}

.box-item__image+.box-item__body {
  margin-top: 0;
  padding: var(--spacing-s) var(--spacing-xs);
}

.box-item__image+.box-item__body .typography__date::before {
  top: -6px;
}

a.topbar__logo-middle .topbar__logo-middle-text {
  font-weight: 900;
}

button.button.rinkiin_loadmore {
  background: var(--green-color);
  font-weight: 500;
  width: fit-content;
  margin: auto;
  border-radius: 4px;
  padding: var(--spacing-xs) var(--spacing-l) !important;
}

footer.footer {
  background: var(--black-10-color)
}

footer.footer * {
  color: var(--black-color);
}

footer.footer .footer__block:nth-child(2) .grid__item_1:last-child {
  order: -1;
}

footer.footer .footer__block:nth-child(2) .grid__item_1 {
  width: auto;
}

footer.footer .footer__block:nth-child(2) .grid__item_1:first-child {
  display: none;
}

footer.footer .footer__block:nth-child(2) {
  justify-content: center;
  gap: 140px;
}

@media screen and (max-width: 1140px) {
  footer.footer .footer__block:nth-child(2) {
    gap: 40px !important;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1 {
    width: 100% !important;
    text-align: left;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1 * {
    text-align: left;
  }

  footer.footer .footer__block:nth-child(2) .grid__item_1:last-child {
    order: 0 !important;
  }
}

footer.footer .footer__block:nth-child(1) {
  display: none;
}

footer.footer .footer__block:nth-child(3) .footer__box * {
  font-weight: 400;
}
